
bower_components/angular-resource/\.bower\.json

bower_components/angular-resource/

bower_components/angular-route/

bower_components/angular/

bower_components/jquery/

bower_components/materialize/
